.header {
    padding: 30px 50px; /* Odstęp: 20px góra/dół, 50px lewa/prawa */
    /*background-color: #f8f9fa; /* Opcjonalne tło */
}

.kicon-large {
    font-size: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: black;
    line-height: 1;
    transition: transform 0.5s; /* Dodaje płynne przejście */
}

/* Efekt poruszania się po najechaniu */
.kicon-large:hover {
    animation: tada 1s infinite; /* Uruchamia animację */
    color: #556B2F;
}
@keyframes tada {
    0%, 100% {
        transform: scale(1);
    }
    10%, 20% {
        transform: rotate(-3deg) scale(1.1);
    }
    30%, 50%, 70% {
        transform: rotate(3deg) scale(1.1);
    }
    40%, 60% {
        transform: rotate(-3deg) scale(1.1);
    }
    80% {
        transform: rotate(3deg) scale(1.1);
    }
    90% {
        transform: rotate(-3deg) scale(1.1);
    }
}
.navbar {
    display: flex; /* Ustawienie flexboxa dla kontenera */
    justify-content: flex-end; /* Wyrównanie elementów do prawej */
    /*background-color: #f8f9fa; /* Opcjonalnie tło */
    padding: 15px; /* Opcjonalnie odstęp wewnętrzny */
}

.navbar a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: #000; /* Kolor tekstu */
    margin-left: 45px; /* Odstęp między linkami */
    font-size: 20px; /* Rozmiar tekstu */
    text-decoration: none;
    color: #000;
    transition: color 0.3s; /* Animacja przejścia */
}
}

.navbar a.active {
    font-weight: bolder; /* Wyróżnienie aktywnego linku */
    color: #006400; /* Kolor aktywnego linku */
    font-size: 2.5rem;
}
.navbar a:hover {
    color: #556B2F; /* Kolor podczas najechania */
}
body{
    background: #DFF0D8;
}
.text-home, .text-skills, .text-education {
    text-align: left;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}
.home, .skills, .education {
    text-align: center;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    border-color: #DFF0D8;
    max-width: 800px; /* Ograniczenie maksymalnej szerokości elementu */
    width: 60%; /* Szerokość dostosowująca się do małych ekranów */
}